@use './variables' as *;

// BREAKPOINTS

@mixin tablet {
    @media (min-width: $tablet-breakpoint) {
        @content;
    }
  }
  
  @mixin desktop {
    @media (min-width: $desktop-breakpoint) {
        @content;
    }
  }

  // HERO IMAGE

@mixin hero ($bg-img, $bg-height, $bg-position) {
    background-image: $bg-img;
    background-repeat: no-repeat;
    background-position: $bg-position;
    background-size: cover;
    height: $bg-height; 
    max-height: 69vh;
    margin: 0 1.69rem;

    &--overlay {
        background-color: rgba(253, 231, 202, 0.5);
        display: flex;
        align-items: center;
        height: $bg-height;
        max-height: 69vh;
        width: 100%;

        @include tablet {
            height: 63vw;
        }
    }

    @include tablet {
        height: 63vw;
        width: 80%;
    }
    }


