@use '../../styles/partials/mixins' as *;

.hero {
    @include hero (url('../../assets/images/misty-lake.jpg'), 63vw, 50%);

    &--overlay {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}