@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;

.about {
    margin: 0 3rem;
    display: flex;
    flex-direction: column;

    @include tablet {
        margin: 0 3.369rem;
    }

    @include desktop {
        width: 80%;
        margin: auto;
    }

    &__text {
        width: 100%;
        margin: 3.369rem 0;

        &:nth-child(even) {

            @include tablet {
                display: flex;
                align-self: flex-end;
                justify-content: space-between;
            }
        }

        &:nth-child(odd) {

            @include tablet {
                display: flex;
                align-self: flex-start;
                flex-direction:row-reverse;
                justify-content: space-between;
            }
            
        }

        &-block {
            flex-direction: column;

            @include tablet {
                width: 56%;
                gap: 1.369rem;
            }
        }
    }

    &__image-block {
        width: 69%;
        height: 33vh;
        margin: auto;
        position: relative;

        @include tablet {
            width: 33%;
        }
    }

    &__portrait {
        @include image (url('../../assets/images/self-portrait.png'), null, -5%)
    }


}