@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;

.contact {
    margin: 3.369rem 1.369rem 0 1.369rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    @include desktop {
        flex-direction: row;
        width: 80%;
        height: 70vh;
        justify-content: center;
        align-items: flex-start;
        margin: auto;
    }
    
&__div {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

}

.container {
    margin: 1.369rem;

    @include tablet {
        width: 80%;
        margin: auto;
    }
}