@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;

.header {
    margin: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;

    &__menu {
        margin: 1rem;
        
        &-list {
            margin: 0.75rem 0;
            height: 1rem;
            display: flex;
            align-items: center;
            list-style: none;
            padding: 0;

            &--none {
                justify-content: center;
            }    
        }
    }

    &__link {
        display: flex;
        margin: 0 1rem;
        padding: 0.5rem 0;
        cursor: pointer;
        text-decoration: none;
        color: unset;
        background-image: linear-gradient($primary-black 0 0);
        background-position: 0 100%;
        background-size: 0% 1px;
        background-repeat: no-repeat;
        transition:
            background-size 0.3s,
            background-position 0s 0.3s;

        @include tablet {
            width: 4.969rem;
        }

        &:hover {
            font-family: $display-typeface;
            font-size: 0.769rem;
            cursor: pointer;
            background-position: 100% 100%;
            background-size: 100% 1px;
        }

        &--active {
            margin: 0 1rem;
            padding: 0.5rem;
            cursor: pointer;
            text-decoration: none;
            color: $primary-white;
            font-family: $display-typeface;
            font-size: 0.769rem;
            cursor: pointer;
            background-color: $primary-black;
            background-position: 100% 100%;
            background-size: 100% 1px;


            @include tablet {
                width: 4.969rem;
            }
        }
    }
}