@use '../../styles/partials/variables' as *;

.header {
    background-color: $primary-white;
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;

    &__menu {
        margin: 1rem;
        
        &-list {
            margin: 0.75rem 0;
            height: 1rem;
            display: flex;
            align-items: center;
            list-style: none;
            padding: 0;
        }
    }

    &__link {
        display: flex;
        margin: 0 1rem;
        padding: 0.5rem 0;
        cursor: pointer;
        text-decoration: none;
        color: unset;

        &:hover {
            color: $primary-red;
            border-bottom: 2px solid;
        }
    }
}