@use '../../styles/partials/variables' as *;

.footer {
    background-color: $primary-black;
    color: $primary-white;
    width: 100%;
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__social {
        margin: 1.369rem;
    }

    &__copyright {
        margin: 1.369rem;
    }

    &__text {
        font-size: smaller;
        text-align: center;
    }
}
